<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-left"></div>
            <div class="col-lg-2 col-md-6 text-center">
                <p class="text-muted">Don’t you hate it when you get a flat tyre because of a pothole?.</p>
            </div>
            <div class="col-lg-2 col-md-6 text-center"></div>
        </div>
    </div>
</section>
