<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="primary">
            </div>
        </div><
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 text-left"></div>
            <div class="col-lg-8 col-md-2 text-center">
                <p class="lead">Don’t you hate it when you get a flat tyre because of a pothole?</p>
                <p style="font-weight:100; text-align:justify; color:#262626">Currently British motorists are spending £120 million a year fixing the damage.
                  1 in 10 roads need immediate repair or replacement in the next year, and 1 in 6 local roads need to be replaced in the next 5 years.
                  Citiblox presents governments with an opportunity to adopt a powerful and cost-effective form of street infrastructure.</p>
            </div>
            <div class="col-lg-2 col-md-2 text-center"></div>
        </div>
    </div>
</section>
