<section id="contact">
    <div class="hideme">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>We're located in Bristol, UK. Contact us at citiblox@gmail.com, or any of our social media pages.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://www.facebook.com/citiblox/" target="_blank">
                <i class="fab fa-facebook-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}" target="_blank">
            <i class="fas fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://linkedin.com/company/citiblox" target="_blank">
            <i class="fab fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
    </div>
    </div>
</section>
