<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="logogif.gif" style="padding:30;" alt="Citiblox" max-width=100% height=190px>
            <h2 style="padding:30;"> Revolutionising how we Design our Future Streets</h2>
            <p style="padding:30;">We create modular paving slabs that can be deployed in any urban situation, with the potential to add smart technologies to collect data</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
