<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="logogif.gif" padding=5px alt="Citiblox" max-width=100% height=160px>
            <h2> A startup revolutionising how we design our future streets</h2>
            <hr>
            <p>We create modular paving slabs that can be deployed in any urban situation, with the potential to add smart technologies to collect data</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
