<section id="services" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <hr style="border-color:#ffffff;">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-vector-square wow bounceIn text-dark" data-wow-delay=".2s"></i>
                    <h3 style="font-weight:100;">SMART</h3>
                    <p class="lead" style="color: #ffffff;">Smart tech can be installed in Citiblox to track various metrics.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-dolly wow bounceIn text-dark" data-wow-delay=".1s"></i>
                    <h3 style="font-weight:100;">FLEXIBLE</h3>
                    <p class="lead" style="color: #ffffff;">Citiblox can be arranged in almost any way, to fit any space.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-road wow bounceIn text-dark"></i>
                    <h3 style="font-weight:100;">MODULAR</h3>
                    <p class="lead" style="color: #ffffff;">Our pavers can be replaced when broken, or to add new functionality.</p>
                </div>
            </div>
        </div>
    </div>
</section>
