<section id="services1" class="h-75 bg-primary">
    <div class="hideme">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-3">
                <img src="img/modular.png" alt="Modular" max-width=100% height=300px>
            </div>
            <div class="col-lg-8 col-md-3">
                <h1>MODULAR</h1>
                <hr class="smalllight" align="left" size="10"></hr>
                <p class="lead" style="color: #ffffff;">Precast pavers made from reinforced concrete enable faster maintenance
                    and replacement. Blocks can be removed or replaced to change the function of the street.</p>
            </div>
        </div>
    </div>
    </div>
</section>

<section id="services2" class="h-75">
    <div class="hideme">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-3">
                <img src="img/dynamic.png" alt="Dynamic" max-width=100% height=300px>
            </div>
            <div class="col-lg-8 col-md-3">
                <h1>DYNAMIC</h1>
                <hr class="smalldark" align="left" size="10"></hr>
                <p class="lead">LEDs can be activated when a street is being used to indicate different functions,
                  and can be programmed to change colour depending on the environment.</p>
            </div>
        </div>
    </div>
    </div>
</section>

<section id="services3" class="h-75 bg-primary">
    <div class="hideme">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-3">
                <img src="img/electric.png" alt="Electric" max-width=100% height=300px>
            </div>
            <div class="col-lg-8 col-md-3">
                <h1>ELECTRIC</h1>
                <hr class="smalllight" align="left" size="10"></hr>
                <p class="lead" style="color: #ffffff;">Pavers generate their own energy to charge electric vehicles, and conductive
                  concrete will melt snow and ice.</p>
            </div>
        </div>
    </div>
    </div>
</section>

<section id="services4" class="h-75">
    <div class="hideme">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-3">
                <img src="img/green.png" alt="green" max-width=100% height=300px>
            </div>
            <div class="col-lg-8 col-md-3">
                <h1>SUSTAINABLE</h1>
                <hr class="smalldark" align="left" size="10"></hr>
                <p class="lead">Dedicated landscape zones can be introduced to improve local air quality and
                  absorb water runoff.</p>
            </div>
        </div>
    </div>
    </div>
</section>
