<section id="services" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <hr style="border-color:#ffffff;">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img source="Modular-icon.png" alt="Modular" max-width=100% height=64px>
                    <h2 style="font-weight:100;">MODULAR</h2>
                    <p class="lead" style="color: #ffffff;">Precast pavers made from reinforced concrete enable faster maintenance
                      and replacement. Blocks can be removed or replaced to change the function of the street.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img source="Haptic-lighting-icon.png" alt="Dynamic" max-width=100% height=64px>
                    <h2 style="font-weight:100;">DYNAMIC</h2>
                    <p class="lead" style="color: #ffffff;">LEDs can be activated when a street is being used to indicate different functions,
                      and can be programmed to change colour depending on the environment.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img source="Electric_icon.png" alt="Electric" max-width=100% height=64px>
                    <h2 style="font-weight:100;">ELECTRIC</h2>
                    <p class="lead" style="color: #ffffff;">Pavers generate their own energy to charge electric vehicles, and conductive
                      concrete will melt snow and ice.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img source="Sustainable_icon.png" alt="Green" max-width=100% height=64px>
                    <h2 style="font-weight:100;">GREEN</h2>
                    <p class="lead" style="color: #ffffff;">Dedicated landscape zones can be introduced to improve local air quality and
                      absorb water runoff.</p>
                </div>
            </div>
        </div>
    </div>
</section>
