<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
               <h1 class="section-heading">Blog</h1>
               <p class="lead">Find us on medium at <a href="https://medium.com/citiblox-blog">medium.com/citiblox-blog</a></p>
               <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-sm-auto">
                <div class="single_blog_post_wrapper">
                    <div class="post_area">
                          <!-- start blog img -->
                          <div class="blog_img">
                              <img src="images/post-featured-image-full.jpg" alt="single post image">
                          </div>

                          <div class="blog_content_wrapper">
                              <div class="blog_title">
                                  <h3>JOURNAL POST WITH IMAGE</h3>
                                  <div class="news_meta">
                                      <p>By <span class="author">Admin</span> <span class="sap">|</span> 28 July 2017 <span class="sap">|</span> Fashion <span class="sap">|</span> 0 Comments</p>
                                  </div>
                              </div>

                              <!-- start blog_contents -->
                              <div class="blog_contents">
                                  <p>Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is has been the industry’s stasn ndard dummy text ever since the 1500s, when an unknown printer took a galley of it to make. Lorem Ipsum
                                      is the simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indus try’s standard they dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                      it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic type set ting, remain ing essentially unchanged. It was popularised.</p>

                                  <blockquote cite="http://example.com">
                                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indus try’s standard.
                                  </blockquote>

                                  <h4 class="blog_secndary_title">We just know now gonna make</h4>
                                  <p>
                                      Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is has been the industry’s stasn ndard dummy text ever since the 1500s, when an unknown printer took a galley of it to make. Lorem Ipsum is the simply dummy text of the printing
                                      and typesetting industry.
                                  </p>

                                  <ul class="blog_list_elements">
                                      <li><i class="fa fa-check-circle"></i>
                                          <p>List one is awesome. Adding list item is very easily.</p>
                                      </li>
                                      <li><i class="fa fa-check-circle"></i>
                                          <p>List one is awesome. Adding list item is very easily.</p>
                                      </li>
                                      <li><i class="fa fa-check-circle"></i>
                                          <p>List one is awesome. Adding list item is very easily.</p>
                                      </li>
                                  </ul>



                                  <p>Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is has been the industry’s stasn ndard dummy text ever since the 1500s, when an unknown printer took a galley of it to make. Lorem Ipsum
                                      is the simply dummy text of the printing and typesetting industry. </p>

                                  <!-- start share_tag area -->
                                  <div class="share_tags">
                                      <div class="blog_share_area">
                                          <p>Share this post</p>
                                          <div class="social_share">
                                              <i class="fa fa-share-alt "></i>
                                              <ul class="social_icons">
                                                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                                                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                                                  <li><a href="#"><span class="icon-gplus"></span></a></li>
                                                  <li><a href="#"><span class="icon-linkedin"></span></a></li>
                                              </ul>
                                          </div>
                                          <!-- end social_share -->
                                      </div>
                                      <!-- end bog_share_ara  -->

                                      <div class="tags">
                                          <ul>
                                              <li><a href="#">Branding</a></li>
                                              <li><a href="#">Marketing</a></li>
                                          </ul>
                                      </div>
                                  </div>
                                  <!-- end share tag area -->

                                  <!-- start .post_nav area -->
                                  <div class="post_nav_area">
                                      <div class="row">
                                          <div class="col-sm-6">
                                              <a href="#" class="nav_btn prev_post">Previous Post</a>
                                          </div>
                                          <!-- end col-sm-6 -->
                                          <div class="col-sm-6">
                                              <a href="#" class="nav_btn next_post">Next Post</a>
                                          </div>
                                          <!-- end col-sm-6 -->
                                      </div>
                                  </div>
                                  <!-- end .post_nav area -->
                              </div>
                              <!-- end blog contents -->
                          </div>
                          <!-- end blo_content_area -->
                      </div>

                      <!-- start author_info -->
                      <div class="author_info">
                          <div class="admin_img">
                              <img src="images/author.jpg" alt="Auth Image">
                          </div>

                          <div class="admin_info">
                              <h4>About Admin</h4>
                              <p>Lorem Ipsum passages, and more recently with desktop publishing software like Aldus the PageMaker they including versions of Lorem Ipsum Lorem Ipsum is .</p>
                              <ul>
                                  <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                  <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                  <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                  <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                              </ul>
                          </div>
                      </div>
                      <!-- end author_info -->

                      <!-- start .commnet_area -->
                      <div class="comment_area">
                          <div class="area_title">
                              <h4>2 comments</h4>
                          </div>

                          <div class="comment_wrapper">
                              <ul class="media-list">
                                  <li>
                                      <div class="media">
                                          <div class="pull-left no-pull-xs">
                                              <a href="#" class="cmnt_img">
                                                <img src="images/comment_img_01.png" class="media-object" alt="Sample Image">
                                            </a>
                                          </div>
                                          <div class="media-body">
                                              <div class="media_top">
                                                  <div class="heading_left pull-left">
                                                      <a href="#">
                                                          <h4 class="media-heading">Thesera Minton</h4>
                                                      </a>
                                                      <span>April 29, 2016</span>
                                                  </div>
                                                  <a href="#" class="reply hidden-xs-m pull-right">Reply</a>
                                              </div>
                                              <p>Disrupt vero ea id fugiat, lo-fi lomo post-ironic irony kitsch Banksy. Tumblr kale chips single-origin coffee Wes Anderson tousled, disrupt butcher sapiente banh mi nisi.</p>
                                              <a href="#" class="reply visible-xs-m  pull-right">Reply</a>
                                          </div>
                                      </div>
                                      <div class="reply_comments">
                                          <!-- Nested media object -->
                                          <div class="media">
                                              <div class="pull-left no-pull-xs">
                                                  <a href="#" class="cmnt_img">
                                                  <img src="images/comment_img_02.png" class="media-object" alt="Sample Image">
                                              </a>
                                              </div>
                                              <div class="media-body">
                                                  <div class="media_top">
                                                      <div class="heading_left pull-left">
                                                          <a href="#">
                                                              <h4 class="media-heading">Toriesta PingPong</h4>
                                                          </a>
                                                          <span>April 29, 2016</span>
                                                      </div>
                                                      <a href="#" class="reply hidden-xs-m pull-right">Reply</a>
                                                  </div>
                                                  <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis
                                                      per seacula quarta decima et quinta decima.</p>
                                                  <a href="#" class="reply visible-xs-m pull-right">Reply</a>
                                              </div>
                                          </div>
                                      </div>
                                  </li>

                                  <li>
                                      <div class="media">
                                          <div class="pull-left no-pull-xs">
                                              <a href="#" class="cmnt_img">
                                                <img src="images/comment_img_02.png" class="media-object" alt="Sample Image">
                                            </a>
                                          </div>
                                          <div class="media-body">
                                              <div class="media_top">
                                                  <div class="heading_left pull-left">
                                                      <a href="#">
                                                          <h4 class="media-heading">Thesera Minton</h4>
                                                      </a>
                                                      <span>April 29, 2016</span>
                                                  </div>
                                                  <a href="#" class="reply hidden-xs-m pull-right">Reply</a>
                                              </div>
                                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do they eiusmod tempor incidi dunt ut labore et dolore magna aliquat enim ad minim veniam ad minim veniam.</p>
                                              <a href="#" class="reply visible-xs-m pull-right">Reply</a>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-2"></div>

        </div>
    </div>
</section>
<!--  Single Blog Ended -->

</div>
<!-- Main Wrapper Ended-->

<!-- JS -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.filterizr.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>
